# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*
.lineage/

# Ignore Gradle build output directory
build
work
bin/

# Ignore nf-test artifacts
.nf-test/
.nf-test.log
validation_results/
